@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ethan's hobby: DOWNHILL SKATEBOARDING!'</h1>
</div>

<p class = "text-left"> 
Downhill Skateboarding originated from the huge surge of skateboarding that came in the 1950's and 60's in Southern California due to a respective surge in the world of surfing.
Over the years, different pursuits of skating stemmed creating cruising, park skating, street skating and my favorite: downhill skateboarding.
</p>
<br />
<p>
    Donwhill skatebording officially had its start in the late 90's with the intent that speed and steeze are the primary focuses. Over the next decade and a half,
    downhilling (as it is commonly referred to as in the community) never took the front seat of the skating world, but always had a seat of respect by the other skating disciplines.
    In the early to mid 2010's the rise of YouTube and other social media outlets finally gave those in my community a voice, but more importantly a facet to the world to see the thrill of skating down hills at around 50 mph.
</p>
<img src ="~/ColeTrotta.jpg" height = "400"/>
<br />
<br />
<p>
    I picked up this discipline when I was 14 with the sole intent to experience adrenaline at a degree that cannot be found while skiing, mountain biking or any other adrenaline-junky sport.
    Ever since, I have crashed a few dozen times both just on the road leaving road rash at 45 mph and into unaware drivers looking down at their phone blwoing through their stop signs.
    Though downhill skating is a dying sport and there are so few people a part of this community, individuals like Cole Trotta, Brandon DesJarlais and Sergio Yuppie keep the underground community alive and thriving.
</p>
<br />
<img src ="~/EthanSkate.jpeg" height= "400"/>
